@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap');

//variable
$main-font-color: #797979;
$placeholder-color: #bebebe;
$a-color: #3F51B5;

* {
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
  font-size: 16px;
  color: $main-font-color;
  list-style-type: none;
  text-decoration: none;
  line-height: 1.5;
}

*:focus {
  outline: 0;
}

.container{
  display: flex;
  justify-content: space-between;
  max-width: 1300px;
  margin: 0 auto;
}

.Content{
  display: flex;
}

ul, li, h5, p, h3{
  margin: 0;
}

h3{
  font-size: 25px;
}

hr{
  border: 1px solid #eee;
}
