@media screen and (max-width:992px){
  .Sidebar{
    display: none;
  }


}

@media screen and (max-width: 768px){
  .Article-intro{
    display: flex;
    flex-direction: column;

    &-text-card{
      margin: 30px auto;
    }

    &-info{
      margin: 0 auto 30px;

    }


  }

  .Header{

    &-right{

      &-search, &-nav{
        display: none;
      }
  
      &-menu{
        display: flex;
        align-items: center;
      }
    }

    .mobile-menu{
      opacity: 0;
      visibility: hidden;

      &.toggle{
        max-height: unset;
        opacity: 1;
        visibility: visible;
      }
    }
  }

}
